span {
	@extend %text;
	@media (max-width: 721px) {
		font-size: 1em;
	}	
}

button {
	border: none;
	background: none;
	outline: none;
}

.playbackTime,
#fastFwd {
	color: white;
}


.videoWrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#volume,
#fullScreen,
#CC,
#volSlider {
	float: right;
	clear: left;
}

#btnControls {
	width: 100%;
}

.captions {
	position: relative;
	z-index: 100;
	margin: auto;
	margin-top: -60px;
	width: 85%;
	@media (max-width: 721px) {
		width: 95%;
	}
}

#video {
	width: 100%;
}

.playBtn,
#soundOn  {
	display: none;
}

#playerControls {
	position: relative;
	bottom: 55px;
	margin: auto;
	width: 100%;
}


video::-webkit-media-controls-enclosure {
	display: none !important;
}

#playerControls div {
	display: inline-block;
}

.progressBar {
	width: 100%;
}

input:focus {
	outline: none;
}


#progressBar {
	-webkit-appearance: none;
	display: block;
	width: 98%;
	top: -10px;
	background-color: $caption-color;
	height: 7px;
	position: relative;
	bottom: 50px;
	border-radius: 10px;
	margin: 0 auto;
}



#progress {
	background-color: $highlight-color;
	position: absolute;
	left: 1%;
	-webkit-appearance: none;
	height: 7px;
	z-index: 1;
	pointer-events: none;
	width: 98%;
	border-radius: 10px;
	margin-right: 10%;
}


#progressBar::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: $highlight-color;
	width: 7px;
	height: 7px;
	cursor: pointer;
}

#progressBar::-moz-range-thumb {
	visibility: hidden !important;
}

.highlight {
	color: $highlight-color;
}

#videoWrapper {
	width: 85%;
	padding-top: 10px;
	@media (max-width: 721px) {
		width: 95%;
	}
}

#fastFwd {
	@media (max-width: 440px) {
		display: none;
	}
}

#slider {
	width: 100px;
	@media (max-width: 440px) {
		width: 50px;
	}
}

//****************************  Firefox Styling 				


@-moz-document url-prefix() {
	#progressBar {
		height: 4px;
	}
}

input[type=range]::-moz-focus-outer {
	border: 0;
}












